.post {
  width: 60%;
  padding: 10px 0px 100px 0px;
}

hr {
  width: 100%;
}

.thumbnail {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.in-article-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 10px 0px;
}

.in-article-image-container > img {
	min-width: 300px;
	max-width: 100%;
  border-radius: 10px;
}

.head {
  display: flex;
  flex-direction: row;
}

.headline {
  padding: 50px;
  text-align: left;
}

.post-content {
  text-align: justify;
  margin: 30px 0px 0px 0px;
}

.post-content > a {  
  display: inline-block;
  color: green;
}

@media (800px < width) {
  .post-content {
    font-size: 18px;
  }
}

@media (width < 800px) {
  .thumbnail {
    margin: auto;
  }
  .post {
    width: 90%;
  }
  .head {
    flex-direction: column;
  }
  .post-content {
    font-size: 16px;
  }
  .title {
    font-size: 24px;
  }
}
