.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  width: 300px;
  height: auto;
  border-radius: 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
}

.grid-item > img {
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.grid-item > a {
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
}

.grid-item > p {
  padding: 0px;
  margin: 0px;
}

.grid-item-text {
  padding: 10px;
}

.grid-item-title {
  font-size: 22px;
  font-weight: bold;
}
