.grid-container {
  display: grid;
  gap: 50px;
	margin: 0px 0px 50px 0px;
}


.grid-item {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px white;
}

.grid-item:hover {
  box-shadow: 0px 0px 10px violet;
}

.grid-item > img {
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.grid-item > a {
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
}

.grid-item > p {
  padding: 0px;
  margin: 0px;
}


.grid-item-caption {
  padding: 10px;
}

.grid-item-title {
  font-size: 18px;
  font-weight: bold;
}

.grid-item-desc {
  text-align: left;
  font-size: 16px;
}

.grid-item-cred {
  text-align: center;
}

@media (1000px < width) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }
}

@media (width < 1000px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media (width < 650px) {
  .grid-container {
    grid-template-columns: auto;
  }
}
