.post {
  width: 90%;
  padding: 10px 0px 100px 0px;
}

hr {
  width: 100%;
}

.thumbnail {
  width: 300px;
  border-radius: 10px;
}

.in-article-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 10px 0px;
}

.in-article-image-container > img {
  width: 300px;
  border-radius: 10px;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.headline {
  padding: 50px;
  text-align: left;
}

.post-content {
  font-size:22px;
  text-align: justify;
  margin: 30px 0px 0px 0px;
}

.post-content > a {  
  display: inline-block;
  color: green;
}
