table {
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
  border-spacing: 0px;
}

td {
  margin: 0px;
  padding: 20px 30px;
  border: 1px solid white;
}

thead > td:first-child {
  font-weight: bold;
  border-top-left-radius: 10px;
}

thead > td:last-child {
  font-weight: bold;
  border-top-right-radius: 10px;
}

tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 10px;
}

tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 10px;
}

.intro {
  margin-top: 50px;
  text-align: left;
  line-height: 1.8;
  font-size: 16px;
  text-align: center;
}

.intro-container {
  width: 100%;
  margin: 30px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-picture {
  height: 145px;
  width: 125px;
  border-radius: 10px;
  margin-right: 30px;
}
