:root {
  --shadow-init:
    0 0 5px #fff, 0 0 5px #fff,  0 0 5px #fff, 
    0 0 15px #fff, 0 0 15px #fff,  0 0 15px #fff, 
    0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff;
  --shadow-final:
    0 0 5px #fff, 0 0 5px #fff,  0 0 5px #fff, 
    0 0 15px #fff, 0 0 15px #fff,  0 0 15px #fff, 
    0 0 30px #ff0, 0 0 30px #ff0, 0 0 30px #ff0,
    0 0 40px #f00, 0 0 40px #f00, 0 0 40px #f00;
}

.body {
  width: 100%;
  padding: 100px 0px;
  margin: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro-container {
  width: 100%;
  margin: 0px 0px 100px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@keyframes colchange{
  0% { box-shadow: var(--shadow-init); }
  50% { box-shadow: var(--shadow-final); }
  100% { box-shadow: var(--shadow-init); }
}

.surya {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: colchange 5s infinite;
}

.intro {
  margin: auto;
  text-align: left;
  line-height: 1.8;
  font-size: 22px;
}

.divine-inline {
  display: inline;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: 7px;
  text-shadow: 
    0 0 5px #fff, 0 0 5px #fff,  0 0 5px #fff, 
    0 0 5px #fff, 0 0 5px #fff,  0 0 5px #fff, 
    0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff,
    0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
}

.inyourface {
  font-size: 84px;
  font-weight: bold;
  margin: 0px 0px 100px 0px;
}

.eclipse-container {
  width: 100%;
  margin: 0px 0px 100px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes eclipse-anim {
  0%    { box-shadow: -10px 0px 20px white, -10px 0px 20px white, -30px 0px 30px #0ff; }
  50%   { box-shadow:  10px 0px 20px white,  10px 0px 20px white,  30px 0px 30px #f0f; }
  100%  { box-shadow: -10px 0px 20px white, -10px 0px 20px white, -30px 0px 30px #0ff; }
}

.eclipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  white-space: nowrap;
  animation: eclipse-anim 5s infinite;
}

.undivine-inline {
  display: inline;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 0px 7px;
  text-shadow: 
    0 0 10px black, 0 0 10px black,  0 0 10px black, 
    0 0 15px black, 0 0 15px black,  0 0 15px black, 
    0 0 20px black, 0 0 20px black, 0 0 20px black,
    0 0 30px black, 0 0 30px black, 0 0 30px black;
}

.brag-container {
  width: 100%;
  margin: 0px 0px 250px 0px;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px;
}
