html, body {
  height: 100%;
}

body {
  margin: 0px;
  color: #ffffff;
  background-color: black;
}

sub {
  margin: 10px 0px 0px 0px;
}

.layout {
  margin: auto;
  width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.divine {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
  text-shadow: 
    0 0 5px #fff, 0 0 5px #fff,  0 0 5px #fff, 
    0 0 5px #fff, 0 0 5px #fff,  0 0 5px #fff, 
    0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff,
    0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff,
    0 0 40px #fff, 0 0 40px #fff, 0 0 40px #fff;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
}

.menubar {
  top: 0px;
  position: sticky;
  width: 100%;
  padding: 20px 0px 20px 0px;
  display:flex;
  background-color: black;
  justify-content: space-around;
}

a:link, a:visited {
  color: white;
  text-decoration:none;
}
a:hover {
  color: grey;
}
