@keyframes skillcard-shadow-out {
  0% { box-shadow: 0px 0px 20px violet; }
  100% { box-shadow: 0px 0px 0px violet; }
}

@keyframes skillcard-shadow-in {
  0% { box-shadow: 0px 0px 0px violet; }
  100% { box-shadow: 0px 0px 20px violet; }
}

.skillimg {
  width: 90%;
  border: 5px solid #213a5c;
  border-radius: 10px;
}

.skillcard {
  margin: 20px;
  padding: 10px;
  color: #dbdbdb;
  border-radius: 10px;
  background-image: url("../../public/image/nebula.jpg");
  animation-name: skillcard-shadow-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.skillcard:hover {
  animation-name: skillcard-shadow-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.skillcard > p {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px 5px 0px;
}

.skillcard > hr {
  width: 100px;
}

@media (width < 500px) {
  .skillcard {
    width: 40%;
  }
}

@media (width > 500px) {  
  .skillcard {
    width: 400px;
  }
}
