html, body {
  height: 100%;
}

body {
  margin: 0px;
  background-color: black;
}

.redacted {
  display: inline;
  color: black;
  background-color: black;
}

.bow {
  display: inline;
  color: black;
  background-color: white;
}

.wob {
  display: inline;
  color: white;
  background-color: black;
}

.card {
  background-color: lightgrey;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
/*
  grid-template-areas:
    'title title title title title title'
    'art art art intro intro intro'
    'quote quote quote quote quote quote'
    'deck deck deck deck deck deck'
    'quote2 quote2 quote2 quote2 quote2 quote2'
    'deck2 deck2 deck2 deck2 deck2 deck2'
    'donate donate donate donate donate donate';
*/
  gap: 10px;
  padding: 0px;
  width: auto;
  margin: auto;
}

.title {
  color: white;
  height: 20vh;
/*grid-area: title;*/
  text-align: center;
  justify-content: center;
  background-color: black;
}

.intro { 
/*grid-area: intro;*/
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 10px 0px 0px 10px;
  color: white;
  background-color: black;
} 

@media (min-width: 1000px) {
  .intro {
    margin: auto;
    max-width: 1000px;
  }
  div.title > h1 {
    font-size: 36px;
    margin: 10px;
  }
  .deck {
    margin: auto;
    max-width: 900px;
  }
}

@media (max-width: 1000px) {
  div.title > h1 {
    font-size: 64px;
    margin: 10px;
  }
}

div.intro > pre {
  margin: 0px;
  max-height: inherit;
}

.art {
/*grid-area: art;*/
  /*height: 320px;*/
  overflow: hidden;
  align-items: center;
  border: 2px solid black;
  background-color: black;
  /* background: repeating-radial-gradient(circle at top center, rgb(32, 55, 55) 100px, rgb(24, 26, 27) 200px); */
}

.quote {
/*grid-area: quote;*/
  text-align: center;
  background-color: black;
}

.divine {
  color: black;
  font-size: 21px;
  text-shadow: 
    0 0 5px #fff, 0 0 5px #fff,  0 0 5px #fff, 
    0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff,
    0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 
    0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
}

.quote2 {
/*grid-area: quote2;*/
  text-align: center;
  background-color: black;
}
.deck {
  gap: 10px;
  display: grid;
/*grid-area: deck;*/
  grid-template-columns: auto auto auto;
}

div[class^="p"] {
  color: white;
  background-color: black;
  border: 2px solid grey;
}

.deck2 {
  gap: 10px;
  display: grid;
/*grid-area: deck2;*/
  grid-template-columns: auto auto auto;
}
/*grid-area: donate; }*/
