html,body {
  height: 100%;
}

body {
  margin: 0px;
  background: repeating-radial-gradient(
                circle at top center,
                rgb(32, 55, 55) 100px,
                rgb(24, 26, 27) 200px);
}

h1 {
  font-size: 36px;
  margin: 10px;
}

pre { margin: 0px; }

.redacted {
  display: inline;
  color: black;
  background-color: black;
}

.bow {
  display: inline;
  color: black;
  background-color: white;
}

.wob {
  display: inline;
  color: white;
  background-color: black;
}

.card {
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'title title title title title title'
    'art art art intro intro intro'
    'quote quote quote quote quote quote'
    'deck deck deck deck deck deck'
    'quote2 quote2 quote2 quote2 quote2 quote2'
    'deck2 deck2 deck2 deck2 deck2 deck2'
    'donate donate donate donate donate donate';
  gap: 10px;
  padding: 0px;
  width: auto;
  margin: auto;
}

.title {
  color: white;
  height: 20vh;
  grid-area: title;
  text-align: center;
  justify-content: center;
  background-color: black;
}

.intro { 
  grid-area: intro;
  background-color: lightgrey;
}

.art {
  grid-area: art;
  border: 2px solid black;
  height: 320px;
  align-items: center;
  overflow: hidden;
  background-color: black;
}
.quote {
  grid-area: quote;
  text-align: center;
  background-color: black;
}
.divine {
  color: black;
  text-shadow: 
    0 0 5px #fff, 0 0 5px #fff,  0 0 5px #fff, 
    0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff,
    0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 
    0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
}

.quote2 {
  grid-area: quote2;
  text-align: center;
  background-color: black;
}
.deck {
  gap: 10px;
  display: grid;
  grid-area: deck;
  grid-template-columns: auto auto auto;
}
.deck2 {
  gap: 10px;
  display: grid;
  grid-area: deck2;
  grid-template-columns: auto auto auto;
}
.donate { grid-area: donate; }
