html, body {
  height: 100%;
}

body {
  margin: 0px;
  background-color: black;
}

/* TEXT START */
h1 {
  display: inline;
}
.redacted {
  display: inline;
  color: black;
  background-color: black;
}

.bow {
  display: inline;
  color: black;
  background-color: white;
}

.wob {
  display: inline;
  color: white;
  background-color: black;
}

.divine {
  color: black;
  background-color: black;
  text-shadow: 
    0 0 5px #fff, 0 0 5px #fff,  0 0 5px #fff, 
    0 0 5px #fff, 0 0 5px #fff,  0 0 5px #fff, 
    0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff,
    0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 
    0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff;
}

/* TEXT END */

/* CONTAINERS START */
.main-container {
  padding: 0px;
  width: auto;
  margin: auto;
}
.art-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.visible-on-dark-theme {
  color: black;
  background-color: black;
  border: 0px;
  text-align: center;
}

.deck {
  gap: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.deck .card {
  color: white;
  background-color: black;
  border: 2px solid grey;

}

.title {
  color: white;
  height: 20vh;
  text-align: center;
  justify-content: center;
  background-color: black;
}

.intro { 
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 10px 0px 0px 10px;
  color: white;
  background-color: black;
} 


div.intro > pre {
  margin: 0px;
  max-height: inherit;
}

.art {
  overflow: hidden;
  align-items: center;
  background-color: black;
}
/* CONTAINERS END */



/* Mobile */
@media screen and (min-width: 767px) {

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Desktop */
@media screen and (min-width: 1024px) {

}

@media (min-width: 700px) {
  .intro {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 1000px;
  }
  div.title > h1 {
    font-size: 36px;
    margin: 10px;
  }
  .deck {
    margin: auto;
    max-width: 900px;
  }
}

@media (max-width: 70px) {
  div.title > h1 {
    font-size: 64px;
    margin: 10px;
  }
}

